* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    width: 90%;
    margin: 0 auto;
}

.row {
    padding: 30px;
}

img {
    width: 100%;
}

.text {
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text header h1 {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.text header p {
    font-size: 0.8rem;
    text-align: center;
}

.text article,.work,.contact {
    margin-top: 30px;
}

p {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

section {
     margin-top: 10px;
 }

li, .contact h2 {
    margin-bottom: 20px;
}

.contact h2 {
    text-transform: uppercase;
    font-weight: lighter;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(231, 187, 75);
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

a:hover {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}

form {
    padding: 0 50px;
}

input, textarea {
    margin-bottom: 10px;
}

.big {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
}

textarea {
    height: 100px;
    font-size: 1rem;
}


@media screen and (min-width: 768px) {

    img {
        width: auto;
        height: 80%;
        display: block;
        margin: 0 auto;
    }

    .text {
        padding: 35px;
    }

    .text header h1 {
        font-size: 2rem;
    }

    .text header p {
        font-size: 1rem;
    }

    .text article,.work,.contact {
        margin-top: 40px;
    }
    
    p {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.7rem;
    }

    section {
        margin-top: 20px;
    }
   
   li, .contact h2 {
       margin-bottom: 30px;
   }

    a {
        font-size: 1.5rem;
    }

    input, textarea {
        margin-bottom: 20px;
    }
    
    .big {
        padding: 10px;
        font-size: 1.2rem;
    }
    
    textarea {
        height: 120px;
    }

}

@media screen and (min-width: 1000px) {

    .text {
        padding: 45px;
    }

    .text header h1 {
        font-size: 2.5rem;
    }

    .text header p {
        font-size: 1.2rem;
    }

    .text article,.work,.contact {
        margin-top: 50px;
    }
    
    p {
        font-size: 1.7rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    section {
        margin-top: 30px;
    }
   
   li, .contact h2 {
       margin-bottom: 40px;
   }

    a {
        font-size: 1.7rem;
    }

    input, textarea {
        margin-bottom: 30px;
    }
    
    .big {
        padding: 20px;
        font-size: 2rem;
    }
    
    textarea {
        height: 250px;
    }

}






















    /* .row {
        display: flex;
        height: 100vh;
    }
    
    .column {
        flex: 1;
        margin: 50px auto;
    } 

    .column img {
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
        border-radius: 30px;
    }

    .text {
        flex: 1;
        margin: 70px auto;
        padding: 50px;
    }

    .text p {
        padding: 1rem;
        font-size: 0.88rem;
    } */